<%graphql
  fragment Repository on Repository {
    id
    owner {
      login
    }
    name
    stargazers {
      totalCount
    }
    ...Views::Repositories::Icon::Repository
    ...Views::Repositories::Star::Repository
  }
%>
<% repository = Views::Repositories::ListItem::Repository.new(repository) %>

<li class="list-group-item">
  <%= render "repositories/star", repository: repository %>
  <%= render "repositories/icon", repository: repository %>

  <a href="<%= repository_path(repository.id) %>">
    <%= repository.owner.login %>/<%= repository.name %>
  </a>
</li>
