<%graphql
  fragment Repository on Repository {
    id
    owner {
      login
    }
    name
    description
    homepageURL
    hasIssuesEnabled
  }
%>
<% repository = Views::Repositories::Show::Repository.new(repository) %>

<div class="header clearfix">
  <%= render "repositories/navigation", repository: repository %>

  <h3 class="text-muted">
    <a href="<%= repositories_path %>"><%= repository.owner.login %></a>
    /
    <a href="<%= repository_path(repository.id) %>"><%= repository.name %></a>
  </h3>
</div>

<hr>

<div class="jumbotron">
  <h1><%= repository.name %></h1>

  <% if repository.description.present? %>
    <p><%= repository.description %></p>
  <% end %>

  <p>
    <% if repository.homepage_url.present? %>
      <a class="btn btn-primary btn-lg" href="<%= repository.homepage_url %>" role="button">Homepage</a>
    <% end %>

    <a class="btn btn-primary btn-lg" href="https://github.com/<%= repository.owner.login %>/<%= repository.name %>" role="button">View on GitHub</a>
  </p>
</div>
